body {
    background-color: #80ADB6;
  }

#cursos-box {
    width: 743px;
    height: 59px;
    align-items: center; 
    text-align: center;
    background-color: #6C6B6B;
    margin-top: 50px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    border: solid 1px black;
}

#cursos {
    font-family: Helvetica;
    font-size: 24px;
}

  curso {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #00796b;
    background-color: #e0f2f1;
    color: #004d40;
  }