body {
    font-family: Arial, sans-serif;
}

.titulo-principal {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
    color: #333;
}

.subtitulo {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    color: #555;
}

/* Container principal em grid */
.professores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 7px;
    padding: 10px;
}

/* Estilo base dos cartões */
.prof-card {
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}

/* Efeito hover nos cartões */
.prof-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    cursor: pointer;
}

/* Ícone no topo do cartão */
.prof-card .icon {
    font-size: 30px;
}

/* Nome do professor */
.prof-card p {
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 8px;
}

.paginacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.paginacao button{
    width: 40px;
    height: 50px;
    margin: 0;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background-color: #797979;
    color: white;
    
}

.paginacao button:hover {
    background-color: #b9b9b9;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.paginacao button.ativo {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
