body {
    font-family: 'Segoe UI', sans-serif; /* Define a fonte padrão para o texto */
    background-color: #f8f8f8;
    color: #2c3e50;
}
/* Estilos exclusivos da tela de login administrativo */
.container {
    position: relative;
    min-height: 60vh;
    text-align: center;
}

.loginadm-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 400px;
    text-align: center;
    /* Centraliza apenas a caixinha de login sem afetar o restante */
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Garante que a caixinha fique por cima sem cobrir outros elementos */
}

.loginadm-form {
    display: flex;
    flex-direction: column;
}

.loginadm-form .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.loginadm-form label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.loginadm-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginadm-form button {
    padding: 10px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Deixa o texto em negrito */
}

.loginadm-form button:hover {
    background-color: #e63939;
    
}

