html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.materia {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 5px;
  margin: 20px auto;
  width: 90%;
}

.materia a {
  text-decoration: none;
  color: #2e4c99;
  font-weight: bold;
}

.horario {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  width: 90%;
}

.horario h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  table-layout: auto;
}

th,
td {
  border: 1px solid #aaa;
  padding: 12px;
  vertical-align: middle;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
}

td {
  background-color: #fff;
}

td a {
  display: block;
  margin: 4px 0;
  color: #ffc85e;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

/* Estilo para o título do dia da semana */
.dia-semana {
  background-color: #7a0b0b;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

/* Estilo para as linhas de horários */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Ajustes de espaçamento entre os dados da tabela */
td:nth-child(2), td:nth-child(3), td:nth-child(4) {
  text-align: center;
}

/* Ajuste para melhorar a apresentação das colunas */
td:nth-child(1) {
  width: 120px;
}

td:nth-child(2) {
  width: 150px;
}

td:nth-child(3) {
  width: 250px;
}

td:nth-child(4) {
  width: 250px;
}
