html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.materia {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 5px;
  margin: 20px auto;
  width: 90%;
}

.materia a {
  text-decoration: none;
  color: #2e4c99;
  font-weight: bold;
}

.horario {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  width: 90%;
}

.horario h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #aaa;
  padding: 12px;
  vertical-align: top;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
}

td a {
  display: block;
  margin: 4px 0;
  color: #ffc85e;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

footer {
  background-color: #40403e;
  height: 190px;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
  gap: 100px;
  border-top: 30px solid #ffffff;
}

#informacao1,
#informacao2 {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

#informacao1 a,
#informacao2 a {
  font-size: 32px;
  color: #ffc85e;
  text-decoration: none;
}

#informacao1 p,
#informacao2 p {
  font-size: 20px;
}

.trfinal {
  border-bottom: 3px solid #f0f0f0;
}
