html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

#topo-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
}

#cpspng {
  flex: 1;
}

#fatecpng {
  flex: 2;
  text-align: center;
}

#govsppng {
  flex: 1;
  text-align: right;
}

#govsppng .logo-header {
  width: 300px;
}

.logo-header {
  width: 200px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #ac0908;
  margin-top: 10px;
  border-top: 10px solid #d9d9d9;
  border-bottom: 10px solid #d9d9d9;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 25px;
}

.navbar a {
  text-decoration: none;
  color: #e7e4e4;
  font-weight: bold;
}

.nav-left li + li {
  margin-left: 10px;
}

.nav-center {
  justify-content: center;
  flex: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
}

.nav-right {
  justify-content: flex-end;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  display: table;
  margin-top: 0px;
  table-layout: fixed;
}
th,
td {
  border: 1px solid #aaa;
  padding: 10px;
  vertical-align: top;
}
th {
  background-color: #f0f0f0;
}
td a {
  display: block;
  margin: 4px 0;
  color: #ffc85e;
  text-decoration: none;
}
td a:hover {
  text-decoration: underline;
}

.materia {
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

footer {
  background-color: #40403e;
  height: 190px;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
  gap: 100px;
  border-top: 30px solid #ffffff;
}

#informacao1 {
  color: white;
  margin-right: auto;
}

#informacao1 a {
  font-size: 32px;
}

#informacao1 p {
  font-size: 20px;
}

#informacao2 {
  color: white;
  text-align: center;
  padding-bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#informacao2 a {
  font-size: 32px;
}

#informacao2 p {
  font-size: 20px;
}

.egydio {
  background-color: #2e4c99;
}

.sudo {
  background-color: #669da7;
}

.arley {
  background-color: #992e2e;
}

.henrique {
  background-color: #008791;
}

.trfinal {
  border-bottom: 3px solid #f0f0f0;
}
