body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#svg-container {
  background-color: #c3c3c3;
  display: flex;
  justify-content: center;
}

.retangulo-interativo {
  fill: transparent ;
  stroke: black; 
  stroke-width: 1 ;
  cursor: pointer;
}

.retangulo-interativo:hover:not(.ignorar-interacao) {
  fill: #d3d3d3 !important;
  stroke: #555 !important;
}

.retangulo-selecionado {
  fill: #ffcccc !important;
  stroke: #ff0000 !important;
  stroke-width: 2.5 !important;
}


/* Ignorados (sem interações visuais) */
.ignorar-interacao {
  pointer-events: none;
}
