/* ======= PADRÃO PARA TODA A TELA ======= */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif; /* Define a fonte padrão para o texto */
  background-color: #f8f8f8;
  color: #2c3e50
}

/* ======= CONTAINER PRINCIPAL ======= */
.container {
  display: flex;
  align-items: flex-start;
  position: relative; /* Necessário para posicionar a linha */
  padding: 20px;
  min-height: 700px
}

/* ======= IMAGEM DE PERFIL ======= */
#foto-professor {
  display: flex;
  margin-top: 40px;
  margin-left: 90px;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  object-fit: cover;
}

#dados-pessoais {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 30%
}

#dados-academicos {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 70%
}


@media (min-width: 769px) {
  .container {
    padding: 0 40px;
    gap: 20px;
    font-size: 24px;
  }

  #foto-container {
    margin-top: 50px;
  }

  #info-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;
  }

  #dados-academicos {
    margin-top: 100px;
    border: 3px solid #2c3e50;
    border-radius: 20px;
    min-height: 400px;
  }

  #info-academicos {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
  }

  #detalhes {
    margin-top: 40px;
    margin-left: 20px;
  }

}


/* === TABLET / MOBILE (até 768px) === */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #foto-professor {
    margin-top: 30px;
  }

  #info-container {
    margin-top: 50px;
  }

  #email-professor {
    margin-top: 20px;
  }

  #dados-pessoais, #dados-academicos {
    margin-top: 50px;
    margin-left: 0;
    width: 95%;
  }

  #dados-pessoais {
   margin-bottom: 20px;
  }

  #detalhes {
    margin-bottom: 20px;
  }

  #dados-academicos {
    min-height: 300px;
    margin-top: 20px;
    border: 3px solid #2c3e50;
    border-radius: 20px;
    padding: 20px;
  }

  #info-academicos {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

}
